@{
    ViewData["Title"] = "Home Page";
}
@await Html.PartialAsync("_Navbar")

<section id="home" class="hero-section">
    <div class="hero-content">
        <h1>Welcome to YatraGo</h1>
        <p>
            Book bus tickets easily and travel comfortably
            across cities with YatraGo.
        </p>
    </div>
</section>

<!-- ABOUT US -->
<section id="about" class="about-section">
    <h2>About Us</h2>
    <p>
        YatraGo is an online bus booking platform designed
        to make travel easy, comfortable, and secure.
    </p>
</section>

<!-- CONTACT US -->
<section id="contact" class="contact-section">
    <h2>Contact Us</h2>
    <p>Email : support@yatrago.com</p>
    <p>Location : Kerala, India</p>
</section>

<!-- FOOTER -->
<footer class="footer">

    <div class="footer-container">

        <div class="footer-section">

            <h3>YatraGo</h3>

            <p>
                Your trusted online bus booking platform
                for safe and comfortable journeys.
            </p>

        </div>

        <div class="footer-section">

            <h3>Quick Links</h3>

            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact Us</a>

        </div>

        <div class="footer-section">

            <h3>Contact Info</h3>

            <p>Email: support@yatrago.com</p>

            <p>Phone: +91 9876543210</p>

            <p>Location: Kerala, India</p>

        </div>

    </div>

    <hr>

    <p class="copyright">
        © 2026 YatraGo. All Rights Reserved.
    </p>

</footer>