@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <title>
        Forgot Password
    </title>

    <link rel="stylesheet"
          href="~/css/signin.css" />

</head>

<body>

    <div class="container">

        <h2>
            Forgot Password
        </h2>

        @if (ViewBag.Message != null)
        {
            <p style="color:red;text-align:center;">
                @ViewBag.Message
            </p>
        }

        <form method="post"
              asp-action="ForgotPassword"
              asp-controller="Account">

            <div class="form-group">
                <label>
                    Username
                </label>

                <input type="text"
                       id="loginInput"
                       name="loginInput" />

                <span class="error"
                      id="loginInputError">
                </span>
            </div>

            <button type="submit">

                Verify

            </button>

        </form>

    </div>

</body>

</html>